body {
    background-color: coral;
}

.middler{
    background-color: peru;
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.float {
    float: left;
}

.align {
    text-align: right;
}

textarea {
    margin-left: 2.5%;
    width: 86.5%;
}

img {
    margin-left: 3%;
    width: 88%;
}
